<section class="cause" id="cause">
  <div class="container">
    <div class="title">
      <h2>
        6 причин оформление визы у нас
      </h2>
    </div>
    <div class="cause__wrapper">
      <div class="cause__wrapper_info">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="cause__block">
              {{mixins.icon('document')}}
              <h4>
                Качественно

              </h4>
              <p>
                правильное
                оформление
                документов
              </p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="cause__block">
              {{mixins.icon('businessman')}}
              <h4>
                Надежно

              </h4>
              <p>
                заключаем договор с каждым клиентом
              </p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="cause__block">
              {{mixins.icon('reception')}}
              <h4>
                Легко

              </h4>
              <p>
                не требуем брони отеля и авиабилетов
              </p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="cause__block">
              {{mixins.icon('money')}}
              <h4>
                Выгодно

              </h4>
              <p>
                фиксированная стоимость
              </p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-2">
            <div class="cause__block">
              {{mixins.icon('money1')}}
              <h4>
                Гарантированно

              </h4>
              <p>
                вернем деньги в случае отказа
              </p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-2">
            <div class="cause__block">
              {{mixins.icon('briefing')}}
              <h4>
                Быстро

              </h4>
              <p>
                подготовка документов в течении 1 часа
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="button__wrapper">
      <button class="button button__cause" >
        Показать больше
      </button>
    </div>

    <div class="title">
      <h3>
        Выбор всегда за вами:
      </h3>
    </div>
    <div class="cause__info">
      <div class="row">
        <div class="col-lg-6">
          <div class="cause__elem cause__elem_true">
            <h5>
              Обращаетесь за визой к нам
            </h5>
            <ul>
              <li>
                Звоните или оставляете заявку на сайте
              </li>
              <li>
                Сдаете минимальный пакет документов лично или онлайн
              </li>
              <li>
                Получаете визу
              </li>
            </ul>

            <button class="button  modal_open">
              Оставить заявку
            </button>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="cause__elem cause__elem_false">
            <h5>
              Получение визы самостоятельно
            </h5>
            <ul>
              <li>
                Поиск информации по <br>
                сбору документов
              </li>
              <li>
                Бронирование отеля
              </li>
              <li>
                Покупка авиабилетов
              </li>
              <li>
                Оформление страховки
              </li>
              <li>
                Заполнение анкеты
              </li>
              <li>
                Подача правильно заполненных
                документов в консульство
              </li>
              <li>
                Получение визы
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
