<section class="country">
  <div class="container">
    <div class="title">
      <h2>
        Популятные страны
      </h2>
    </div>
    <div class="country__wrapper">
      <div class="country__wrapper_flags">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="country__block modal_flag_open"
                 data-country="Швеция"
                 data-time="5"
                 data-price="5000"
                 data-more-inform="Какой-то сбор"
                 data-bg-image="img/flag-1.jpg">
              <img src="img/sweden.svg" alt="">
              <p >Швеция</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="country__block  modal_flag_open"
                 data-country="Швеция"
                 data-time="5"
                 data-price="5000"
                 data-more-inform="Какой-то сбор"
                 data-bg-image="img/flag-1.jpg">
              <img src="img/denmark.svg" alt="">
              <p>Дания</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="country__block  modal_flag_open"
                 data-country="Швеция"
                 data-time="5"
                 data-price="5000"
                 data-more-inform="Какой-то сбор"
                 data-bg-image="img/flag-1.jpg">
              <img src="img/malta.svg" alt="">
              <p>Мальта</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="country__block  modal_flag_open"
                 data-country="Швеция"
                 data-time="5"
                 data-price="5000"
                 data-more-inform="Какой-то сбор"
                 data-bg-image="img/flag-1.jpg">
              <img src="img/lithuania.svg" alt="">
              <p>Литва</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="country__block  modal_flag_open"
                 data-country="Швеция"
                 data-time="5"
                 data-price="5000"
                 data-more-inform="Какой-то сбор"
                 data-bg-image="img/flag-1.jpg">
              <img src="img/bulgaria.svg" alt="">
              <p>Болгария</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="country__block  modal_flag_open"
                 data-country="Швеция"
                 data-time="5"
                 data-price="5000"
                 data-more-inform="Какой-то сбор"
                 data-bg-image="img/flag-1.jpg">
              <img src="img/austria.svg" alt="">
              <p>Австрия</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="country__block  modal_flag_open"
                 data-country="Швеция"
                 data-time="5"
                 data-price="5000"
                 data-more-inform="Какой-то сбор"
                 data-bg-image="img/flag-1.jpg">
              <img src="img/croatia.svg" alt="">
              <p>Хорватия</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="country__block  modal_flag_open"
                 data-country="Швеция"
                 data-time="5"
                 data-price="5000"
                 data-more-inform="Какой-то сбор"
                 data-bg-image="img/flag-1.jpg">
              <img src="img/estonia.svg" alt="">
              <p>Эстония</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="country__block  modal_flag_open"
                 data-country="Швеция"
                 data-time="5"
                 data-price="5000"
                 data-more-inform="Какой-то сбор"
                 data-bg-image="img/flag-1.jpg">
              <img src="img/spain.svg" alt="">
              <p>Испания</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="country__block  modal_flag_open"
                 data-country="Швеция"
                 data-time="5"
                 data-price="5000"
                 data-more-inform="Какой-то сбор"
                 data-bg-image="img/flag-1.jpg">
              <img src="img/italy.svg" alt="">
              <p>Италия</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="country__block  modal_flag_open"
                 data-country="Швеция"
                 data-time="5"
                 data-price="5000"
                 data-more-inform="Какой-то сбор"
                 data-bg-image="img/flag-1.jpg">
              <img src="img/norway.svg" alt="">
              <p>Норвегия</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="country__block modal_flag_open"
                 data-country="Швеция"
                 data-time="5"
                 data-price="5000"
                 data-more-inform="Какой-то сбор"
                 data-bg-image="img/flag-1.jpg">
              <img src="img/sweden.svg" alt="">
              <p>Латвия</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="country__block  modal_flag_open"
                 data-country="Швеция"
                 data-time="5"
                 data-price="5000"
                 data-more-inform="Какой-то сбор"
                 data-bg-image="img/flag-1.jpg">
              <img src="img/latvia.svg" alt="">
              <p>Латвия</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="country__block  modal_flag_open"
                 data-country="Швеция"
                 data-time="5"
                 data-price="5000"
                 data-more-inform="Какой-то сбор"
                 data-bg-image="img/flag-1.jpg">
              <img src="img/finland.svg" alt="">
              <p>Финляндия</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="country__block  modal_flag_open"
                 data-country="Швеция"
                 data-time="5"
                 data-price="5000"
                 data-more-inform="Какой-то сбор"
                 data-bg-image="img/flag-1.jpg">
              <img src="img/greece.svg" alt="">
              <p>Греция</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="country__block  modal_flag_open"
                 data-country="Швеция"
                 data-time="5"
                 data-price="5000"
                 data-more-inform="Какой-то сбор"
                 data-bg-image="img/flag-1.jpg">
              <img src="img/poland.svg" alt="">
              <p>Польша</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="country__block  modal_flag_open"
                 data-country="Швеция"
                 data-time="5"
                 data-price="5000"
                 data-more-inform="Какой-то сбор"
                 data-bg-image="img/flag-1.jpg">
              <img src="img/slovenia.svg" alt="">
              <p>Словения</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="country__block  modal_flag_open"
                 data-country="Швеция"
                 data-time="5"
                 data-price="5000"
                 data-more-inform="Какой-то сбор"
                 data-bg-image="img/flag-1.jpg">
              <img src="img/germany.svg" alt="">
              <p>Германия</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="country__block modal-flag_open"
                 data-country="Швеция"
                 data-time="5"
                 data-price="5000"
                 data-more-inform="Какой-то сбор"
                 data-bg-image="img/flag-1.jpg">
              <img src="img/france.svg" alt="">
              <p>Франция</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="country__block modal_flag_open"
                 data-country="Швеция"
                 data-time="5"
                 data-price="5000"
                 data-more-inform="Какой-то сбор"
                 data-bg-image="img/flag-1.jpg">
              <img src="img/hungary.svg" alt="">
              <p>Венгрия</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="country__block modal_flag_open"
                 data-country="Швеция"
                 data-time="5"
                 data-price="5000"
                 data-more-inform="Какой-то сбор"
                 data-bg-image="img/flag-1.jpg">
              <img src="img/slovakia.svg" alt="">
              <p>Словакия</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="country__block modal_flag_open"
                 data-country="Швеция"
                 data-time="5"
                 data-price="5000"
                 data-more-inform="Какой-то сбор"
                 data-bg-image="img/flag-1.jpg">
              <img src="img/romania.svg" alt="">
              <p>Румыния</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="country__block modal_flag_open"
                 data-country="Швеция"
                 data-time="5"
                 data-price="5000"
                 data-more-inform="Какой-то сбор"
                 data-bg-image="img/flag-1.jpg">
              <img src="img/portugal.svg" alt="">
              <p>Португалия</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="country__block modal_flag_open"
                 data-country="Швеция"
                 data-time="5"
                 data-price="5000"
                 data-more-inform="Какой-то сбор"
                 data-bg-image="img/flag-1.jpg">
              <img src="img/netherlands.svg" alt="">
              <p>Нидерланды</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="country__block modal_flag_open"
                 data-country="Швеция"
                 data-time="5"
                 data-price="5000"
                 data-more-inform="Какой-то сбор"
                 data-bg-image="img/flag-1.jpg">
              <img src="img/czech-republic.svg" alt="">
              <p>Чехия</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="country__block modal_flag_open"
                 data-country="Швеция"
                 data-time="5"
                 data-price="5000"
                 data-more-inform="Какой-то сбор"
                 data-bg-image="img/flag-1.jpg">
              <img src="img/china.svg" alt="">
              <p>Китай</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="country__block modal_flag_open"
                 data-country="Швеция"
                 data-time="5"
                 data-price="5000"
                 data-more-inform="Какой-то сбор"
                 data-bg-image="img/flag-1.jpg">
              <img src="img/india.svg" alt="">
              <p>Индия</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="country__block modal_flag_open"
                 data-country="Швеция"
                 data-time="5"
                 data-price="5000"
                 data-more-inform="Какой-то сбор"
                 data-bg-image="img/flag-1.jpg">
              <img src="img/canada.svg" alt="">
              <p>Канада</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="country__block modal_flag_open"
                 data-country="Швеция"
                 data-time="5"
                 data-price="5000"
                 data-more-inform="Какой-то сбор"
                 data-bg-image="img/flag-1.jpg">
              <img src="img/united-states-of-america.svg" alt="">
              <p>США</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="country__block modal_flag_open"
                 data-country="Швеция"
                 data-time="5"
                 data-price="5000"
                 data-more-inform="Какой-то сбор"
                 data-bg-image="img/flag-1.jpg">
              <img src="img/andorra.svg" alt="">
              <p>Андора</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="country__block modal_flag_open"
                 data-country="Швеция"
                 data-time="5"
                 data-price="5000"
                 data-more-inform="Какой-то сбор"
                 data-bg-image="img/flag-1.jpg">
              <img src="img/japan.svg" alt="">
              <p>Япония</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="country__block modal_flag_open"
                 data-country="Швеция"
                 data-time="5"
                 data-price="5000"
                 data-more-inform="Какой-то сбор"
                 data-bg-image="img/flag-1.jpg">
              <img src="img/australia.svg" alt="">
              <p>Австралия</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="country__block modal_flag_open"
                 data-country="Швеция"
                 data-time="5"
                 data-price="5000"
                 data-more-inform="Какой-то сбор"
                 data-bg-image="img/flag-1.jpg">
              <img src="img/new-zealand.svg" alt="">
              <p>Новая Зеландия</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="country__block modal_flag_open"
                 data-country="Швеция"
                 data-time="5"
                 data-price="5000"
                 data-more-inform="Какой-то сбор"
                 data-bg-image="img/flag-1.jpg">
              <img src="img/united-kingdom.svg" alt="">
              <p>Великобритания</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="country__block modal_flag_open"
                 data-country="Швеция"
                 data-time="5"
                 data-price="5000"
                 data-more-inform="Какой-то сбор"
                 data-bg-image="img/flag-1.jpg">
              <img src="img/thailand.svg" alt="">
              <p>Тайланд</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="button__wrapper">
      <div class="button button__reverse">
        Показать больше
      </div>
    </div>
  </div>
</section>
