<footer>
  <nav class="footer">
    <div class="container">
      <div class="footer__wrapper">
        <a href="#">
          <img src="img/logo.png" alt="" class="logo">
        </a>
        <div class="footer__adaptive">
          <ul class="menu">
            <li>
              <a href="#header">
                Оформление паспорта
              </a>
            </li>
            <li>
              <a href="#cause">
                Оформление визы
              </a>
            </li>
            <li>
              <a href="#">
                Как мы работаем
              </a>
            </li>
            <li>
              <a href="#help">
                Услуги
              </a>
            </li>
          </ul>
          <div class="callback-info">
            <div class="tel">
              <a href="tel:+74957898838">
                +7(495)789-88-38
              </a>
              <p>
                г. Самара ул. Мичурина д.76 офис 1
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="copyright">
    © 2018 VizaOpen
  </div>
</footer>


