<section class="form-callback form-callback__transform">
  <div class="container">
    <div class="form-callback__wrapper form__wrapper">
      <h2>
        заполните форму — получите скидку 3% на любой заказ
      </h2>
      <form action="sendmail.php" method="post" class="form">
        <div class="label__wrapper">
          <input type="text" name="name" placeholder="Ваше имя" required>
        </div>
        <div class="label__wrapper">
          <input type="tel" name="tel" placeholder="Ваш телефон" required>

        </div>
        <button class="button">
          Получить скидку
        </button>
      </form>
    </div>
  </div>
</section>

