<section class="help" id="help">
  <div class="container">
    <div class="title">
      <h2>
        Помощь в оформление <br>
        загранпаспорта
      </h2>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="help__block">
          {{mixins.icon('old')}}
          <p>
            Старого образца на 5 лет
          </p>
          <div class="button__wrapper">
            <button class="button button__transparent modal_open">
              Заказать
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="help__block">
          {{mixins.icon('new')}}
          <p>
            Нового образца
            на 10 лет
          </p>
          <div class="button__wrapper">
            <button class="button button__transparent modal_open">
              Заказать
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="help__block">
          {{mixins.icon('child')}}
          <p>
            Вписание детей
            в готовый паспорт
          </p>
          <div class="button__wrapper">
            <button class="button button__transparent modal_open">
              Заказать
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="help__block">
          {{mixins.icon('fast')}}
          <p>
            Срочные
            загранпаспорта
          </p>
          <div class="button__wrapper">
            <button class="button button__transparent modal_open">
              Заказать
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="information__wrapper">
  <div class="container">
    <div class="information">
      <h3>
        Дополнительные услуги
      </h3>
      <p>
        По вашей просьбе мы поможем вам получить
        всё для удачной поездки за границу
      </p>
      <ul>
        <li>
          Оформление виз
          в более чем 45 стран мира
        </li>
        <li>
          Помощь в оформлении
          загранпаспорта
        </li>
        <li>
          Страхование
        </li>
        <li>
          Авиабилеты
        </li>
        <li>
          Туры
        </li>
      </ul>
    </div>
  </div>
</div>
