<section class="reviews">
  <div class="container">
    <div class="title">
      <h2>
        Наши отзывы
      </h2>
    </div>
  </div>
    <div class="reviews__slider">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="slide">
              <div class="slide__img">
                <img src="img/rew.jpg" alt="">
                <a href="https://www.youtube.com/" target="_blank">
                  смотреть
                  видео отзыв
                </a>
              </div>
              <div class="slide__info">
                <h3>
                  Ирина Власова
                </h3>
                <time datetime="2018-27-08">
                  27 Ноября 2018
                </time>
                <div class="scroll">
                  <p>
                    Здравствуйте, меня зовут Светлана. И я хотела бы поделиться опытом сотрудничества с ОВЦ. Когда мне потребовалась виза в Канаду, возник вопрос, через кого ее оформлять? И вот небольшой экскурс по просторам интернета и нашлось то, что нужно. Очень удобный, понятный, правильный сайт.
                    Стало очевидно, что мне сюда. Занималась оформлением виз Анастасия Филиппова. Приятная, милая девушка и прекрасный, компетентный сотрудник. Объясняет все просто, доступно, грамотно. В результате мы получили визы всей семьей на 8 лет. Спустя полгода, мы решили оформить визы в США.
                    И тут уже не было никаких сомнений, через кого это делать. И опять работа сотрудников ОВЦ не разочаровала. И опять же оформлением виз занималась Анастасия. По документам виза США оказалась проще , чем Канадская виза, но нужно личное присутствие в посольстве.Анастасия объяснила , как найти посольство, что можно и нельзя с собой проносить, как вести себя на собеседовании. В общем мы получили весь необходимый набор информации . Итог: получили визы всей семьей на 3 года. Доброжелательная обстановка, компетентные сотрудники, качественная работа, отличные результаты!!! Обязательно буду рекомендовать своим друзьям. Остается только сказать БОЛЬШОЕ спасибо Анастасии лично и всем сотрудникам ОВЦ!!!
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide">
              <div class="slide__img">
                <img src="img/rew.jpg" alt="">
                <a href="https://www.youtube.com/" target="_blank">
                  смотреть
                  видео отзыв
                </a>
              </div>
              <div class="slide__info">
                <h3>
                  Ирина Власова
                </h3>
                <time datetime="2018-27-08">
                  27 Ноября 2018
                </time>
                <div class="scroll">
                  <p>
                    Здравствуйте, меня зовут Светлана. И я хотела бы поделиться опытом сотрудничества с ОВЦ. Когда мне потребовалась виза в Канаду, возник вопрос, через кого ее оформлять? И вот небольшой экскурс по просторам интернета и нашлось то, что нужно. Очень удобный, понятный, правильный сайт.
                    Стало очевидно, что мне сюда. Занималась оформлением виз Анастасия Филиппова. Приятная, милая девушка и прекрасный, компетентный сотрудник. Объясняет все просто, доступно, грамотно. В результате мы получили визы всей семьей на 8 лет. Спустя полгода, мы решили оформить визы в США.
                    И тут уже не было никаких сомнений, через кого это делать. И опять работа сотрудников ОВЦ не разочаровала. И опять же оформлением виз занималась Анастасия. По документам виза США оказалась проще , чем Канадская виза, но нужно личное присутствие в посольстве.Анастасия объяснила , как найти посольство, что можно и нельзя с собой проносить, как вести себя на собеседовании. В общем мы получили весь необходимый набор информации . Итог: получили визы всей семьей на 3 года. Доброжелательная обстановка, компетентные сотрудники, качественная работа, отличные результаты!!! Обязательно буду рекомендовать своим друзьям. Остается только сказать БОЛЬШОЕ спасибо Анастасии лично и всем сотрудникам ОВЦ!!!
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide">
              <div class="slide__img">
                <img src="img/rew.jpg" alt="">
                <a href="https://www.youtube.com/" target="_blank">
                  смотреть
                  видео отзыв
                </a>
              </div>
              <div class="slide__info">
                <h3>
                  Ирина Власова
                </h3>
                <time datetime="2018-27-08">
                  27 Ноября 2018
                </time>
                <div class="scroll">
                  <p>
                    Здравствуйте, меня зовут Светлана. И я хотела бы поделиться опытом сотрудничества с ОВЦ. Когда мне потребовалась виза в Канаду, возник вопрос, через кого ее оформлять? И вот небольшой экскурс по просторам интернета и нашлось то, что нужно. Очень удобный, понятный, правильный сайт.
                    Стало очевидно, что мне сюда. Занималась оформлением виз Анастасия Филиппова. Приятная, милая девушка и прекрасный, компетентный сотрудник. Объясняет все просто, доступно, грамотно. В результате мы получили визы всей семьей на 8 лет. Спустя полгода, мы решили оформить визы в США.
                    И тут уже не было никаких сомнений, через кого это делать. И опять работа сотрудников ОВЦ не разочаровала. И опять же оформлением виз занималась Анастасия. По документам виза США оказалась проще , чем Канадская виза, но нужно личное присутствие в посольстве.Анастасия объяснила , как найти посольство, что можно и нельзя с собой проносить, как вести себя на собеседовании. В общем мы получили весь необходимый набор информации . Итог: получили визы всей семьей на 3 года. Доброжелательная обстановка, компетентные сотрудники, качественная работа, отличные результаты!!! Обязательно буду рекомендовать своим друзьям. Остается только сказать БОЛЬШОЕ спасибо Анастасии лично и всем сотрудникам ОВЦ!!!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
</section>
