<section class="header header__second" style="background-image: url('img/section-from.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="header__content">
          <h1>
            ЗАГРАНПАСПОРТ <br>
            ПОД КЛЮЧ ЗА 890 <span>РУБ.</span>
            <strong>
              "Не выходя из дома"
            </strong>
          </h1>
          <h3>
            Всего 3 простых шага:
          </h3>
          <ul>
            <li>
              Позвоните, или <a href="#">оставьте заявку</a>
              на нашем сайте
            </li>
            <li>
              Предоставьте пакет документов
              лично или онлайн
            </li>
            <li>
              Получите свою <br>
              визу
            </li>
          </ul>
          <p>
            Госпошлина в стоимость не входит
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-block">
          <h3>
            ПОЛУЧИТЕ БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ!
          </h3>
          <p>
            Оставьте свои контактные данные, что бы мы могли связаться с вами
          </p>
          <form action="sendmail.php" class="form form-block__callback">
            <label class="form-block__label">
              <input type="text" name="name" placeholder="Ваше имя:" required>
            </label>
            <label class="form-block__label">
              <input type="tel" name="tel" placeholder="Ваш телефон:" required>
            </label>
            <button class="button">
              Получить консультацию
            </button>
            <div class="form-block__checkbox_wrapper">
              <div class="form-block__checkbox">
                <input type="checkbox" value="agree" id="agreeTwo" name="agree" class="checkbox" checked required>
                <label for="agreeTwo" class="label__checkbox">
                  Нажимая кнопку, вы даете согласие на
                  обработку персональных данных
                </label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>


</section>
