<section class="what-need" id="what-need">
  <div class="container">
    <div class="title">
      <h2>
        Что нужно от Вас?
        <span>
          Основные документы для оформления загранпаспорта или визы
        </span>
      </h2>
    </div>
    <div class="what-need__tabs_wrapper">
      <div class="what-need__tabs_nav">
        <div class="what-need__tabs_tab"  >
          Паспорта
        </div>
        <div class="what-need__tabs_tab" >
          Визы
        </div>
      </div>
      <div class="what-need__tabs_content">
        <div class="what-need__tabs_item">
          <div class="what-need__block_wrapper">
            <div class="what-need__block">
              <img src="img/pasport.jpg" alt="">
              <p>
                Копии гражданского
                паспорта
              </p>
            </div>
            <div class="what-need__block">
              <img src="img/pasport2.jpg" alt="">
              <p>
                4 фото 3.5*4.5 на
                матовой бумаге
                цветные
              </p>
            </div>
            <div class="what-need__block">
              <img src="img/pasport3.png" alt="">
              <p>
                Снилс
              </p>
            </div>
          </div>
        </div>
        <div class="what-need__tabs_item">
          <div class="what-need__block_wrapper">
            <div class="what-need__block">
              <img src="img/pasport.jpg" alt="">
              <p>
                Копии гражданского
                паспорта
              </p>
            </div>
            <div class="what-need__block">
              <img src="img/pasport2.jpg" alt="">
              <p>
                4 фото 3.5*4.5 на
                матовой бумаге
                цветные
              </p>
            </div>
            <div class="what-need__block">
              <img src="img/viza.jpg" alt="">
              <p>
                Заграничный паспорт
              </p>
            </div>
            <div class="what-need__block">
              <img src="img/pasport3.png" alt="">
              <p>
                Справка с места
                работы
              </p>
            </div>
            <div class="what-need__block">
              <img src="img/viza5.png" alt="">
              <p>
                Выписка о состоянии
                счёта
              </p>
            </div>
          </div>
        </div>

      </div>
      <div class="button__wrapper">
        <button class="button modal_open">
          Получить консультацию
        </button>
      </div>
    </div>

    <div class="title">
      <h3>
        Выбор всегда за вами:
      </h3>
    </div>
    <div class="cause__info">
      <div class="row">
        <div class="col-lg-6">
          <div class="cause__elem cause__elem_true">
            <h5>
              Оформление загранпаспорта у нас
            </h5>
            <ul>
              <li>
                Звоните или оставляете заявку на сайте

              </li>
              <li>
                Мы готовим весь пакет документов

              </li>
              <li>
                Получаете готовый паспорт
              </li>
            </ul>

            <button class="button modal_open">
              Оставить заявку
            </button>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="cause__elem cause__elem_false cause__elem_what-need">
            <h5>
              Оформление загранпаспорта при самостоятельной
              подаче документов
            </h5>
            <ul>
              <li>
                Долгие выматывающие очереди с возможным <br>
                отрицательным результатом
              </li>
              <li>
                Временные затраты на изучение правил
              </li>
              <li>
                При неправильном заполнении анкеты, возможен отказ в выдаче и
                повторная подача всего пакета оплатой новой госпошлины
              </li>
              <li>
                Затянутые сроки получения и, как следствие, сорванный отпуск
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
